# Ignore executable files
*.exe
*.dll

# Ignore encryption keys folder (hidden)
.pangcrypt_keys/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp

# Ignore user-specific files
*.user
*.suo
*.userprefs

# Ignore build output folders
/build/
/dist/
/out/

# Ignore build files
*.spec
*.version

# Ignore svg and ico files
*.svg
*.ico

# Ignore pycache
__pycache__/